<!DOCTYPE html>
<!--
Copyright 2012 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html>
  <head>
    <title>Mocha Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- -->
    <script>window.__exported_components_polyfill_scope__ = window;</script>
    <script src="../shadowdom-polyfill.js"></script>
    <!-- -->
    <link rel="stylesheet" href="../../../third_party/mocha/mocha.css" />
    <!-- -->
    <style>
      #work {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="mocha"></div>
    <div id="work"></div>
    <script src="../../../third_party/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <!-- -->
    <script src="utils.js"></script>
    <script src="(4)-shadowDom.js"></script>
    <script src="(4.1)-shadow.js"></script>
    <script src="(5.1)-content-select.js"></script>
    <!-- -->
    <script>
      mocha.run();
    </script>
  </body>
</html>
