<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- -->
		<script src="../../../Components/components-polyfill.js" unshadow></script>
		<!-- -->
		<link rel="components" href="components.html"/>
	</head>
	<body>
    <x-element><span>LightDom Content</span></x-element>
    <hr/>

    <x-composite><span>LightDom Content</span></x-composite>
    <hr/>

    <x-inherited><span>LightDom Content</span></x-inherited>
    <hr/>

	</body>
</html>
