<!DOCTYPE html>
<!--
Copyright 2012 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- -->
    <script>window.__exported_components_polyfill_scope__ = window;</script>
    <script src="../../ShadowDOM/shadowdom-polyfill.js"></script>
    <!-- -->
    <script src="lib/dump.js"></script>
    <!-- -->
    <style>
      div, g-A {
        display: block;
        border: 1px dotted red;
        margin: 8px;
        padding: 8px;
      }
    </style>
    <script>
      test = function(inImpl, inNode) {
        // make ShadowRoot
        var root = new inImpl.ShadowRoot(inNode);
        // stamp our template
        root.appendChild($("template#A").content.cloneNode(true));
        // distribute
        inImpl.distribute(inNode);
        // log
        dumper(inNode);
      }
      tester = function(inLabel, inImpl, inSource) {
        var n = inSource.cloneNode(true);
        document.body.appendChild(document.createElement("p")).textContent = inLabel;
        document.body.appendChild(document.createElement("hr"));
        document.body.appendChild(n);
        console.log(inLabel);
        test(inImpl, n);
      }
      testem = function() {
        var ga = $("g-A");
        tester("WebKit", WebkitShadowDOM, ga);
        tester("Shim", ShimShadowDOM, ga);
      }
      change = function() {
        testem();
      }
    </script>
  </head>
  <body onload="change()">
      Source:
      
      <g-A>
        <span>Where am I?</span>
      </g-A>
      <template id="A"><span>A's Template</span></template>
      
      <hr/>
      
      Expected output (also, see console):

      <div><span>A's Template</span></div>
      
      <hr/>
  </body>
</html>
